
body {
  font-family: 'Montserrat', sans-serif;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

/* navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;

}
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 1.2rem;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-bold', sans-serif;
font-weight: bolder;
  font-size: 2rem;
  line-height: 1.5;

}
/* Download-Button */

.Download-Button {

  margin-top: 5%;
  margin-right: 5%;
}

.dog {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 60%;
  transform: rotate(25deg);
}

h3 {
  font-family: 'Montserrat-bolder', sans-serif;
  font-weight: bolder;
  font-size: 2rem;

}

p {

  font: color #8f8f8f;
}

/* Features Section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

.construction-box {
  text-align: center;
}

.website-construction {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  font: color red;

}
.tools {
  color: #ff4c68;
  margin-bottom: 1rem;
}

/*--testimonials--*/

#testimonials {
padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.testimonial-image {
  width: 7rem;
  border-radius: 100%;
  margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
  width: 10rem;
  margin: 20px 20px 50px;
}

.toby-surrey {
  font-size: 1.2rem;
}
